body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../static/loan.jpg');
  background-size: cover;
  background-position: center center;
}
.container {
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: white;
  border-radius: 10px;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end main rules */
.container h1 {
  margin: 0px auto 20px auto;
  width: fit-content;
  color: #333;
  font-size: 20px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .container h1 {
    font-size: 45px;
  }
}
.container div:not(.result) {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #eee;
  border-radius: 5px;
}
.container div span {
  padding: 10px;
  background-color: rgb(212, 212, 212);
}
.container div input {
  flex: 1;
  border: none;
  padding: 10px;
}
.container div input:focus {
  outline: none;
}
button {
  /* box model just work with block */
  display: block;
  width: fit-content;
  margin: auto;
  padding: 10px 20px;
  background-color: #333;
  border: none;
  color: white;
  border-radius: 5px;
}
#alert {
  background-color: rgb(224, 23, 23);
  color: white;
  padding: 15px;
  text-align: center;
  margin-top: 0px;
  border-radius: 5px;
  display: none;
}
img {
  display: block;
  width: fit-content;
  margin: auto;
  display: none;
}
.result {
  display: none;
}
.result h3 {
  width: fit-content;
  margin: 30px auto 15px auto;
  color: #333;
  font-weight: 500;
}
.result div {
  background-color: #eee;
}
input {
  color: #333;
}
